.breadcrumbsContainer {
    width: 1020px;
    background-color: #222224;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.breadcrumbsItem {
    background-color: #ee1515;
    border: 1px solid #f0f0f0;
    padding-left: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 1020px;
    max-height: 850px;
    padding: 10px;
    background-color: #222224;
}
.container > * {
    max-height: 350px;
    max-width: 660px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #f0f0f0;
    background-color: #ee1515;
}
.energy {
    margin-bottom: 1rem;
    margin-left: 0.5em;
}
.type {
    display: inline-block;
    width: 80px;
    text-align: center;
    font-weight: bold;
    width: 80px;
    textalign: center;
    border: 1px solid #f0f0f0;
}
.types {
    display: flex;
}
.name {
}
.portraitContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
}
.portraitItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    background-color: white;
}
.portrait img {
    max-height: 90%;
    max-width: 90%;
}
.stats {
}
.catching {
}
.origin {
}
.attacks {
}
.attack {
    display: grid;
    grid-template-columns: 30% 20% 10% 40%;
    width: 620px;
    font-weight: bold;
}

.effectiveness {
}
